@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.woff2");
  src: local("LatoRegular"), 
  url("/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Semibold.woff2");
  src: local("LatoSemibold"), 
  url("/fonts/Lato-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.woff2");
  src: local("LatoBold"), 
  url("/fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  position: relative;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.heading {
  margin: 0;
}

.background-left {
  position: absolute;
}

.background-right {
  position: absolute;
  right: 0;
  top: 403px;
}

.background-360 {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 35px 0 66px;
}

.container {
  padding-left: 195px;
  padding-right: 195px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1530px;
}

.header__left {
  display: flex;
}

.line {
  height: 80px;
  width: 1px;
  margin-right: 25px;
}

.main-logo {
  margin-right: 20px;
}

.logo-text {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.logo-text__text {
  max-width: 185px;
  font-size: 14px;
  line-height: 18px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__analitics {
  display: flex;
  align-items: center;
}

.arrow-down {
  width: 7px;
  height: 6px;
  margin-right: 50px;
}

.header__menu-link {
  margin-right: 12px;
  font-size: 24px;
  line-height: 35px;
  transition: color 250ms linear;
}

.header__menu-link:hover {
  color: #7C4EAB;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__btn {
  display: flex;
  align-items: center;
  font-size: 23px;
  font-weight: 400;
  line-height: 35.22px;
  padding: 4px 32px;
  background-color: rgba(207, 81, 206, 1);
  text-decoration: none;
  color: #fff;
  border-radius: 12px;
  transition: background-color 250ms linear;
}

.header__btn:hover {
  background-color: rgb(141, 57, 141);
}

.arrow-right {
  display: none;
  width: 24px;
  height: 24px;
}

.btn__arrow {
  margin-right: 14px;
}

.phone {
  margin-right: 90px;
  font-size: 24px;
  line-height: 35.22px;
}

.phone-icon {
  width: 24px;
  height: 24px;
}

.arrow-right-backup {
  margin-right: 14px;
  margin-top: 5px;
}

.header__burger {
  display: none;
}

.hero__header {
  margin: 0;
  line-height: 80px;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 22px;
}

.hero__content {
  display: flex;
}

.hero__header-768 {
  display: none;
}

.hero__text {
  margin: 0;
  max-width: 868px;
}

.hero__text:not(:last-child) {
  margin-bottom: 15px;
}

.hero__text-main {
  color: #CF51CE;
}

.hero__img {
  padding: 0 30px 45px;
  background-image: url('img/Bg\ stars.png');
  background-position: bottom;
  background-repeat: no-repeat;
}

.hero {
  margin-bottom: 145px;
}

.hero__nav {
  display: flex;
  margin-bottom: 15px;
}

.hero__heading {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
}

.hero__price {
  margin-bottom: 20px;
}

.hero__icon {
  margin-right: 25px;
  margin-bottom: -15px;
}

.text {
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
}

.hero__big {
  font-size: 35px;
  line-height: 29.32px;
  color: #CF51CE;
}

.hero__nav-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: rgba(51, 26, 47, 0.5);
  transition: color 250ms linear;
}

.hero__nav-link:hover {
  color: #7C4EAB;
}

.hero__nav-line {
  letter-spacing: -3px;
  color: rgba(51, 26, 47, 0.5);
}

.history__heading-768 {
  display: none;
}

.history__line {
  display: flex;
  align-items: center;
}

.history__text-block {
  display: flex;
  flex-direction: column;
  margin-right: 82px;
}

.history__text {
  max-width: 750px;
}

.history__img-one {
  margin-right: 82px;
}

.history {
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
}

.heading {
  font-size: 48px;
  line-height: 64px;
  max-width: 844px;
}

.history__heading {
  margin: 0;
  margin-bottom: 100px;
  align-self: center;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 131px;
}

.main__heading {
  margin: 0;
  margin-bottom: 30px;
  align-self: center;
  text-align: center;
}

.main__cards {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.main__card {
  max-width: 290px;
}

.stat4market__4 {
  color: #CF51CE;
}

.stat4market {
  border-bottom: 7px solid #7C4EAB;
  border-image: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
  border-image-slice: 1;
}

.main__qoute {
  max-width: 846px;
  margin: 0;
  margin-bottom: 65px;
  align-self: center;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
}

.main__smal-header {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.main__text {
  font-size: 18px;
  line-height: 28.8px;
}

@media (max-width:1700px) {
  .container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
  }

  .header {
    padding: 30px 40px 62px;
  }

  .background-right {
    display: none;
  }

  .main-logo {
    margin-right: 15px;
  }

  .logo-text__text {
    font-weight: 400;
    font-size: 10px;
    line-height: 13.99px;
    width: 150px;
  }

  .line {
    margin-right: 20px;
    width: 10px;
    height: 62px;
  }

  .header__menu-link {
    font-size: 18px;
  }

  .phone {
    font-size: 18px;
    width: 159px;
  }

  .header__btn {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
  }

  .arrow-right-backup {
    width: 20px;
    height: 20px;
    margin-top: 11px;
  }

  .hero {
    margin-bottom: 77px;
  }

  .hero__header {
    margin: 0;
    line-height: 65px;
    font-size: 46px;
    margin-bottom: 40px;
  }

  .hero__img {
    padding: 0;
    padding-left: 23px;
    padding-bottom: 23px;
    height: 445px;
  }

  .text {
    font-size: 20px;
    line-height: 32px;
  }

  .hero__info {
    margin-right: 31px;
  }

  .hero__price {
    margin-bottom: 40px;
  }

  .history__text {
    max-width: 582px;
  }

  .main {
    margin-bottom: 120px;
  }

  .main__qoute {
    margin-bottom: 85px;
  }

  .main__smal-header {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
  }

  .main__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }

}

@media (max-width:1100px) {
  .container {
    max-width: 738px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .background-left {
    display: none;
  }

  .heading {
    max-width: 738px;
    font-size: 40px;
    line-height: 64px;
    font-weight: 700;
  }

  .menu {
    display: none;
  }

  .phone-icon, .phone {
    display: none;
  }

  .header__btn {
    margin-right: 80px;
  }

  .logo-text {
    margin: 0;
  }

  .header__burger {
    display: block;
  }

  .hero__img {
    margin-right: -15px;
    background: none;
  }

  .hero__header {
    display: none;
  }

  .hero__header-768 {
    display: block;
    max-width: 500px;
  }

  .hero__price {
    margin-bottom: 17px;
  }

  .history__heading {
    display: none;
  }

  .history__heading-768 {
    display: block;
    text-align: center;
  }

  .history__line:not(:last-child) {
    margin-bottom: 70px;
  }

  .main__qoute {
    margin-bottom: 80px;
  }

  .main__cards {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .main__card {
    max-width: 255px;
    margin-bottom: 60px;    
  }

  .main__card:not(:nth-child(2n)) {
    margin-right: 60px;
  }

  .main {
    margin-bottom: 25px;
  }
}

@media (max-width:670px) {
  .line {
    display: none;
  }

  .logo-text__text {
    display: none;
  }

  .text {
    font-size: 18px;
    line-height: 28.8px;
  }

  .heading {
    font-size: 24px;
    line-height: 36px;
  }

  .header {
    padding: 35px 15px 40px;
  }

  .header__btn {
    margin-right: 21px;
    font-size: 14px;
    line-height: 27.58px;
    padding: 4px 20px;
    max-height: 36px;
  }

  .hero {
    margin-bottom: 85px;
  }

  .arrow-right-backup {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    margin-top: 0;
  }

  .hero__header-768 {
    display: none;
  }

  .hero__header {
    display: block;
    width: 202px;
    font-size: 26px;
    line-height: 39px;
  }

  .hero__info {
    margin: 0;
  }

  .hero__img {
    display: none;
  }

  .history__line {
    flex-direction: column;
    align-items: baseline;
  }

  .hero__price {
    width: 226px;
  }

  .background-360 {
    display: block;
    position: absolute;
    right: 0;
    top: 130px;
  }

  .history {
    margin-bottom: 100px;
  }

  .history__heading-768 {
    margin-bottom: 58px;
  }

  .history__img-one {
    margin-bottom: 35px;
  }

  .history__img-two {
    margin-bottom: 30px;
  }

  .history__text-block {
    margin-right: 0;
  }

  .history__line:not(:last-child) {
    margin-bottom: 40px;
  }

  .main__heading {
    margin-bottom: 25px;
  }

  .main__qoute {
    margin-bottom: 50px;
  }

  .main__card:not(:nth-child(2n)) {
    margin: 0;
    margin-bottom: 40px;
  }

  .main__card {
    margin: 0;
    margin-bottom: 40px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}